<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Machairodus Topology</display-name>

	<servlet>
		<servlet-name>Machairodus-Servlet</servlet-name>
		<servlet-class>org.machairodus.topology.MachairodusServlet</servlet-class>
		<!-- 任务调度扩展配置文件 -->
		<init-param>
			<param-name>quartz-config</param-name>
			<param-value>classpath:quartz-config.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Machairodus-Servlet</servlet-name>
		<!-- url必须为 /machairodus/*  后期对于远端控制进行请求处理 -->
		<url-pattern>/machairodus/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
