<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.machairodus.mappers.mapper.manager.FuncMapper">
	<select id="findFuncByRoleIds" resultType="org.machairodus.mappers.domain.Func" parameterType="java.util.Set">
		select distinct t1.id, t1.code, t1.name, t1.description, t1.uri, t1.parent_id as parentId, t1.virtual, t1.hierarchy, t1.status, 
		t1.create_time as createTime, t1.create_user_id as createUserId, t1.modify_time as modifyTime, t1.modify_user_id as modifyUserId, 
		t1.deleted, t1.icon from t_scd_func t1 
		left join t_scd_role_func t2 on t1.id = t2.func_id 
		left join t_scd_role t3 on t3.id = t2.role_id where 
		t1.status = 1 and t1.deleted = 0 and t3.status = 1 and t3.deleted = 0 and 
		t3.id in <foreach collection="roleIds" index="index" item="roleId" open="(" close=")" separator=","> #{roleId} </foreach>
	</select>
</mapper>