.form-horizontal .control-label {
	width: 100px;
}

.form-horizontal .controls {
	margin-left: 110px;
}

@media ( max-width : 500px) {
	.form-horizontal .controls {
		margin-left: 0px;
	}
}

.separator {
	background-color: #e5e5e5;
	border-bottom: 1px solid #fff;
	height: 1px;
	margin: 9px 1px;
	overflow: hidden;
}

/*bootstrap兼容问题和easyui的bug*/
.panel-header, .panel-body {
	border-width: 0px;
}

.datagrid, .combo-p {
	border: solid 1px #D4D4D4;
}

.datagrid * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}